body {
  font-family: "Open Sans" !important;
}

#nav-container {
  margin-left: 0px;
  margin-right: 0px;
  padding-right: 0px;
  padding-left: 0px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.group::after {
  content: "";
  clear: both;
  display: block;
}

.italic {
  font-style: italic;
}

.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
    margin-right: 0px;
    margin-left: 0px;
}

.navbar {
  background-color: #F58F24;
  color: #fff;
  margin-top: 0;
  border-radius: 0px;
  margin-bottom: 0px;
  border: none;
}

.navbar-default .navbar-nav>li {
  margin-left: 2px;
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
  padding-left: 15px;;
  font-size: 11px;
}
.navbar-default .navbar-brand {
  font-weight: 500;
  color: #fff;
}

#about-us {
  padding-right: 0px;
}

.navbar-default .navbar-brand > img {
  width: 125px;
  height: auto;
  position: relative;
  bottom: 5px;
  left: 10px;
  display: block;
}


.navbar-default .navbar-brand:hover {
  color: #fff;
}

.glyphicon {
  margin-top: 19px;
  margin-right: 20px;
  padding-left: 15px;
  font-size: 11px;
}

.navbar-default .navbar-toggle {
  border: none;
}

.glyphicon:hover {
  cursor: pointer;
  color: #000;

}

.container-1 {
  background: url(../Assets/Photo1.jpg) no-repeat center center ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 550px;
}

.blue-cover {
  height: 100%;
  width: 100%;
  opacity: .9;
  background-color: #2169BF;
}

.light-blue-cover {
  height: 100%;
  width: 100%;
  background: rgba(91,173,235,0.94);
  background: -moz-linear-gradient(left, rgba(91,173,235,0.94) 5%, rgba(75,162,221,0.94) 50%, rgba(71,159,217,0.94) 63%, rgba(23,76,166,0.94) 98%, rgba(23,76,166,0.94) 100%);
  background: -webkit-gradient(left top, right top, color-stop(5%, rgba(91,173,235,0.94)), color-stop(50%, rgba(75,162,221,0.94)), color-stop(63%, rgba(71,159,217,0.94)), color-stop(98%, rgba(23,76,166,0.94)), color-stop(100%, rgba(23,76,166,0.94)));
  background: -webkit-linear-gradient(left, rgba(91,173,235,0.94) 5%, rgba(75,162,221,0.94) 50%, rgba(71,159,217,0.94) 63%, rgba(23,76,166,0.94) 98%, rgba(23,76,166,0.94) 100%);
  background: -o-linear-gradient(left, rgba(91,173,235,0.94) 5%, rgba(75,162,221,0.94) 50%, rgba(71,159,217,0.94) 63%, rgba(23,76,166,0.94) 98%, rgba(23,76,166,0.94) 100%);
  background: -ms-linear-gradient(left, rgba(91,173,235,0.94) 5%, rgba(75,162,221,0.94) 50%, rgba(71,159,217,0.94) 63%, rgba(23,76,166,0.94) 98%, rgba(23,76,166,0.94) 100%);
  background: linear-gradient(to right, rgba(91,173,235,0.94) 5%, rgba(75,162,221,0.94) 50%, rgba(71,159,217,0.94) 63%, rgba(23,76,166,0.94) 98%, rgba(23,76,166,0.94) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5badeb', endColorstr='#174ca6', GradientType=1 );
}

.green-cover {
  width: 100%;
  height: 100%;
  opacity: .9;
  background-color: #3D901B;
}

.orange-cover {
  height: 100%;
  width: 100%;
  opacity: .9;
  background-color: #F58F24;
}

.container-1-header {
  font-size: 68px;
  color: #fff;
  text-align: center;
  display: block;
  padding-top: 100px;
  font-weight: 300;
  margin: 0;
  letter-spacing: 3px;
}

.container-1-question {
  text-align: center;
  display: block;
  padding-top: 146px;
  letter-spacing: 3px;
  font-size: 32px;
  color: #fff;
  font-weight: 300;
  margin: 0;
}

.fa-angle-down {
  font-size: 58px;
  font-weight: 300;
}

.container-2 {
  height: 370px;
  width: 100%;
}

.container-2-header{
  color: #F58F24;
  display: block;
  text-align: center;
  padding-top: 101px;
  margin: 0;
  font-weight: 300;
  font-size: 48px;
}

.container-2-content {
  color: #565656;
  font-size: 32px;
  margin-top: 16px;
  display: block;
  font-weight: 300;
  text-align: center;
}

.container-3 {
 height: 495px;
 background: url(../Assets/Photo2.jpg) no-repeat center center ;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
 position: relative;
}

.platform-image {
  width: 70%;
  height: auto;
  opacity: 1;
  position: relative;
  bottom: 430px;
  display: block;
  margin: auto;
  max-width: 750px;
}

.container-4 {
  background-color: #fff;
}

.live-tag {
  height: 450px;
  display: block;
  margin: auto;
  margin-top: 45px;
  width: 90%;
  max-width: 400px;
  height: auto;
}

.container-4-header {
  color: #F58F24;
  display: block;
  padding-top: 75px;
  margin: 0;
  margin-left: 10px;
  font-weight: 300;
  font-size: 48px;
}

.container-4-content {
  color: #565656;
  font-size: 32px;
  margin-top: 16px;
  display: block;
  font-weight: 300;
  margin-left: 10px;
  line-height: 1.1;
}

.container-4-subcontent {
  color: #9A9A9A;
  font-size: 21px;
  margin-top: 16px;
  display: block;
  font-weight: 300;
  margin-left: 10px;
  line-height: 1.1;
}

.platform-button {
  margin-left: 10px;
  margin-top: 50px;
  font-size: 18px;
  padding: 10px;
  width: 240px;
  margin-bottom: 20px;
}

.container-5 {
  background: url(../Assets/Photo3.jpg) no-repeat center center;
  background-size: 135%;
  height: 552px;
}

.container-9 {
  background: url(../Assets/Photo4.jpg) no-repeat top top;
}

.container-5-header {
  margin-left: 75px;
  color: #fff;
  font-size: 48px;
  padding-top: 100px;
  font-weight: 300;
}

.container-5-subheader {
  margin-left: 75px;
  color: #fff;
  font-size: 36px;
  font-weight: 300;
}

.container-5-content {
  margin-left: 75px;
  color: #fff;
  font-size: 22px;
  font-weight: 300;
  letter-spacing: 1px;
  padding-top: 20px;
}

.learn-how-button {
  margin-left: 75px;
  color: #fff;
  width: 200px;
  text-align: center;
  padding-top: 7.5px;
  padding-bottom: 7.5px;
  font-size: 20px;
  border: 2px solid #fff;
  border-radius: 5px;
  display: inline-block;
  letter-spacing: 1px;
  margin-top: 55px;
}

.learn-how-button:hover {
  cursor: pointer;
  background-color: #497DB5;
}

.green-hover:hover {
  background-color: #014801;
}

.container-6 {
  width: 80%;
  padding-bottom: 100px;
}

.icon-img {
  width: 170px;
  height: auto;
  display: block;
  margin: auto;
  margin-top: 90px;
}

.container-6-content > h2 {
  font-size: 50px;
  text-align: center;
  font-weight: 300;
  margin-top: 25px;
  color: #00AEE0;
}

.container-6-content > p {
  font-size: 28px;
  color: #101010;
  text-align: center;
  font-weight: 300;
}

#every {
  color: #7AC152;
}

.container-7 {
  min-height: 357px;
  background: url(../Assets/Photo3.jpg) no-repeat center bottom;
  background-size: 125%;
}

.container-9 {
  background: url(../Assets/Photo4.jpg) no-repeat center bottom;
}

.container-7-header {
  color: #fff;
  font-size: 30px;
  text-align: center;
  padding-top: 80px;
}

.client-list {
  margin: auto;
  padding-top: 85px;
  margin-bottom: 105px;
  text-align: center;
  margin-left: 20px;
}

.client-list > li {
  margin-right: 24px;
}

.client-list > li > img {
  width: 175px;
  height: auto;
}

.container-8 {
  padding: 100px;
  margin: 0;
}

.referal-img {
  width: 190px;
  height: auto;
  margin-bottom: 50px;
}

.referal-quote {
  font-size: 24px;
  color: #565656;
}

.referal-name {
  margin-top: 25px;
  font-size: 18px;
}

.referal-title, .referal-name {
  color: #25ADE4;
}

.success-button {
  color: #fff;
  background-color: #25ADE4;
  padding: 10px;
  display: inline-block;
  margin-top: 25px;
  border-radius: 5px;
  font-size: 20px;
  width: 300px;
  text-align: center;
}

.success-button:hover {
  cursor: pointer;
  background-color: #2195C3;
}

.green {
  color: #7AC152;
}

.green-button {
  background-color: #7AC152;
}

.green-button:hover {
  background-color: #027102;
}

.container-11 {
  height: 310px;
}

.email-form-header {
  color: #fff;
  font-size: 38px;
  padding-top: 100px;
  font-weight: 300;
  display: block;
  text-align: center;
}

.mktoLabel {
  display: none;
}

/*used important tags to overide styling from marketo*/
.mktoEmailField {
  background-color: #fff !important;
  opacity: 1 !important;
  width: 580px !important;
  border: none !important;
  border-radius: 3px !important;
  outline: none;
  padding-top: 50px !important;
  font-size: 20px !important;
  display: block !important;
  margin-top: 50px !important;
  margin-left: 100px !important;
  position: relative !important;
  bottom: 175px !important;
}

.mktoButton {
  position: relative !important;
  bottom: 253px !important;
  left: 650px !important;
  color: #fff !important;
  font-size: 16px !important;
  background: transparent !important;
  border: 2px solid #fff !important;
  border-radius: 3px !important;
  width: 230px !important;
  text-align: center !important;
  padding-top: 11px !important;
  padding-bottom: 11px !important;;
  font-family: sans-serif !important;
}

.mktoErrorMsg, .mktoErrorArrow {
  position: relative !important;
  bottom: 190px !important;
}

::-webkit-input-placeholder {
   color: #101010;
}

:-moz-placeholder { /* Firefox 18- */
   color: #101010;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #101010;
}

:-ms-input-placeholder {
   color: #101010;
}

.footer {
  position: relative;
  background-color: #545C68;
  height: 280px;
}

.footer-line {
  width: 90%;
  display: block;
  margin: auto;
  height: 1px;
  background-color: #CAD1DE;
  position: relative;
  top: 240px;
}

#footer-list {
  margin: auto;
  position: absolute;
  padding-top: 50px;
  margin-left: calc(50% - 75px);
}

#footer-list > li {
  float: left;
  display: inline;

}

.fb-footer-img {
  width: 40px;
  position: relative;
  bottom: 10px;
  padding-right: 5px;
}
.footer-img {
  width: 40px;
  padding-right:20px;
}

.footer-img:hover, .fb-footer-img:hover {
  cursor:pointer;
}

.footer-logo {
  position: absolute;
  width: 26px;
  display: block;
  /*marketo form generated html was messing up positioning so i used basolute here*/
  top: 110px;
  left: calc(50% - 10px);
}

.footer-text {
  color: #fff;
  font-size: 10px;
  position: absolute;
  top: 160px;
  left: calc(50% - 120px);
}

/*adjust font size based on screen size */
@media all and (max-width: 1050px) {
  .container-1-header {
    font-size: 48px;
  }

  .mktoButton {
    width: 150px !important;
    left: 410px !important;
  }

  .mktoEmailField {
    width: 400px !important;
  }

  .email-form-header {
    font-size: 32px;
  }

  .referal-quote {
    font-size: 20px;
  }

  .container-8 {
    padding-right: 0px;
    padding-left: 50px;
  }

  .container-2-header, .container-4-header  {
    font-size: 40px;
  }

  .container-2-content, .container-4-content {
    font-size: 26px;
  }

  .container-4-subcontent {
    font-size: 18px;
  }

  .container-1-question, .glyphicon-chevron-down{
    font-size: 28px;
  }

  .fa-angle-down {
    font-size: 50px;
    font-weight: 300;
  }

  .platform-image {
    bottom: 400px;
    width: 80%;
  }
}
@media all and (max-width: 769px) {
  .container-4-content, .container-4-header, .container-4-subcontent {
    text-align: center;
    padding-top: 20px;
  }

  .mktoButton {
    width: 150px !important;
    left: 230px !important;
  }

  .mktoEmailField {
    margin-left: 10px !important;
    width: 300px !important;
  }

  .referal-quote {
    font-size: 18px;
  }

  .email-form-header {
    font-size: 28px;
  }

  .container-8 {
    padding-right: 0px;
    padding-left: 50px;
  }

  .container-5-header {
    font-size: 34px;
  }

  .container-5-subheader {
    font-size: 30px;
  }

  .container-5-content {
    font-size: 14px;
  }

  .platform-button {
    display: block;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@media all and (max-width: 520px) {
  .learn-how-button {
    margin-left: 10px;
  }

  .container-11 {

  }

  .mktoButton {
    width: 150px !important;
    left: -103px !important;
    bottom: 205px !important;
    font-size: 12px !important;
  }

  .mktoEmailField {
    bottom: 195px !important;
    margin-left: 5% !important;
    font-size: 10px !important;
    width: 120px !important;
  }

  .email-form-header {
    font-size: 22px;
  }

  .container-7-header {
    font-size: 21px;
  }

  .referal-quote {
    font-size: 14px;
  }

  .container-8 {
    padding-left: 20px;
  }

  .container-5-header {
    margin-left: 10px;
    font-size: 28px;
  }

  .container-5-subheader {
    margin-left: 10px;
    font-size: 20px;
  }

  .container-5-content {
    margin-left: 10px;
    font-size: 10px;
  }

  .container-1-header {
    font-size: 32px;
  }

  .container-1-question, .glyphicon-chevron-down {
    font-size: 24px;
  }

  .container-2-header, .container-4-header {
    font-size: 28px;
  }

  .container-2-content, .container-4-content {
    font-size: 21px;
  }

  .fa-angle-down {
    font-size: 42px;
    font-weight: 300;
  }

  .platform-image {
    bottom: 340px;
    width: 90%;
  }

  .container-4-subcontent {
    font-size: 16px;
  }

  .success-button {
    width: 250px;
  }

}



@media all and (max-width: 380px) {
  .container-1-header {
    font-size: 24px;
  }
  .container-1-question, .glyphicon-chevron-down {
    font-size: 20px;
  }

  .container-2-header, .container-4-header {
    font-size: 24px;
  }

  .referal-quote {
    font-size: 12px;
  }

  .container-2-content, .container-4-content {
    font-size: 18px;
  }

  .fa-angle-down {
    font-size: 34px;
    font-weight: 300;
  }

  .container-4-subcontent {
    font-size: 12px;
  }

  .platform-image {
    bottom: 300px;
    width: 90%;
  }

}
